<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{fragments/base.html}">
<th:block th:include="fragments/base.html :: page">
    <div layout:fragment="content">
        <div class="ml-2">
            <table class="table table-zebra w-full rounded">
                <tbody>
                <tr th:each="partecipante : ${partecipanti}">
                    <td th:text="${partecipante.getKey()}"></td>
                    <td th:text="${partecipante.getValue()}"></td>
                    <td>
                        <a th:if="${presenti.contains(partecipante.getKey())}"
                           th:href="${'/assemblea/' + assembleaId + '/caccia/' + partecipante.getKey()}">
                            <button class="btn btn-outline btn-sm mb-1">Segna assente</button>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="mt-4">
            <a th:href="${'/assemblea/' + assembleaId}">
                <button class="btn btn-outline">Torna all'assemblea</button>
            </a>
        </div>
    </div>
</th:block>
</html>