<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{fragments/base.html}">
<th:block th:include="fragments/base.html :: page">
    <div layout:fragment="content">
        <div class="ml-2">
            <p th:if="${presenti == null || presenti.size() == 0}">Non ci sono presenti al momento</p>
        <ol class="list-decimal">
            <li th:each="presente : ${presenti}">
                <div>
                    <span th:text="${presente.getValue()}"></span> - <span th:text="${presente.getKey()}"></span>
                    <a th:href="${'/assemblea/' + assembleaId + '/caccia/' + presente.getKey()}">
                        <button class="btn btn-outline btn-sm">Segna assente</button>
                    </a>
                </div>
            </li>
        </ol>
        </div>
        <div class="mt-4">
            <a th:href="${'/assemblea/' + assembleaId}">
                <button class="btn btn-outline">Torna all'assemblea</button>
            </a>
        </div>
    </div>
</th:block>
</html>