<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{fragments/base.html}">
<th:block th:include="fragments/base.html :: page">
    <div layout:fragment="content">
        <h2 class="text-xl" th:text="${assemblea.getNome()}"></h2>
        <th:block th:if="${assemblea.getFine() == null}">
            <a th:href="@{/assemblea/{id}/delega(id=${assemblea.getId()})}">
                <button class="btn" th:if="${!hasDelega}">Delega</button>
                <button class="btn" th:if="${hasDelega}">Annulla delega</button>
            </a>
            <th:block th:if="${assemblea.isInCorso()}">
                <a th:href="@{/assemblea/{id}/votazione/crea(id=${assemblea.getId()})}">
                    <button class="btn">Crea votazione</button>
                </a>
                <a th:href="@{/assemblea/{id}/presenza(id=${assemblea.getId()})}"
                   th:unless="${hasDelega}">
                    <button class="btn btn-success" th:if="${!isPresente}">Registrati come presente</button>
                    <button class="btn btn-warning" th:if="${isPresente}">Esci dall'assemblea</button>
                </a>
                <p>Sono presenti <strong th:text="${presenti.size()}"></strong> aventi diritto su <span
                        th:text="${assemblea.getPartecipanti().length}"></span></p>
            </th:block>
            <a th:href="@{/assemblea/{id}/inizia(id=${assemblea.getId()})}">
                <button class="btn btn-success" th:if="${canStart}">Inizia assemblea</button>
            </a>
        </th:block>
        <div th:if="${assemblea.getIdPresidente() == null}">
            <p>Non è ancora stato nominato il presidente dell'assemblea</p>
            <a th:href="@{/assemblea/{id}/nomina-presidente(id=${assemblea.getId()})}">
                <button class="btn btn-primary">Nomina presidente</button>
            </a>
        </div>
        <div class="grid grid-flow-column gap-4 grid-cols-2">
            <div class="card bg-base-100 shadow-xl pb-2 h-100" th:each="votazione : ${votazioni}">
                <div class="card-body">
                    <h2 class="card-title" th:text="${votazione.getQuesito()}"></h2>
                    <p th:if="${votazione.isTerminata()}">Votazione terminata</p>
                    <p th:if="${!votazione.isTerminata()}">Votazione aperta</p>
                    <div class="card-actions justify-end">
                        <a th:if="${!hasDelega && !votazione.isTerminata() && isPresente && !votazioneState.getVotanti(votazione.getId()).contains(tessera)}" th:href="@{/assemblea/{id}/votazione/{idVotazione}(id=${assemblea.getId()},idVotazione=${votazione.getId()})}">
                            <button class="btn btn-primary">Vota</button>
                        </a>
                        <a th:if="${votazione.isTerminata() || votazioneState.getVotanti(votazione.getId()).contains(tessera)}" th:href="@{/assemblea/{id}/votazione/{idVotazione}/risultati(id=${assemblea.getId()},idVotazione=${votazione.getId()})}">
                            <button class="btn">Risultati</button>
                        </a>
                        <button th:if="${(!isPresente || hasDelega) && !votazione.isTerminata()}" class="btn btn-disabled">Devi essere presente in proprio per votare</button>
                        <a th:if="${canStop && !votazione.isTerminata()}" th:href="@{/assemblea/{id}/votazione/{idVotazione}/termina(id=${assemblea.getId()},idVotazione=${votazione.getId()})}">
                            <button class="btn btn-primary">Termina votazione</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div th:if="${assemblea.getOdg().length == 0}">
            <p>Non &egrave; ancora disponibile l'ordine del giorno.</p>
        </div>
        <ul class="steps steps-vertical" th:if="${assemblea.getOdg().length > 0}">
            <li class="step" th:classappend="${iStat.index <= assemblea.getStepOdg()} ? 'step-primary' : ''" th:each="punto, iStat : ${assemblea.getOdg()}" th:text="${punto}"></li>
        </ul>
        <div class="w-full">
            <a th:if="${assemblea.getStepOdg() < assemblea.getOdg().length - 1 && assemblea.isInCorso()}" th:href="@{/assemblea/{id}/avanza-odg(id=${assemblea.getId()})}">
                <button class="btn btn-primary btn-sm">Prossimo punto</button>
            </a>
            <a th:if="${assemblea.getFine() == null}" th:href="@{/assemblea/{id}/odg(id=${assemblea.getId()})}">
                <button class="btn btn-sm">Modifica OdG</button>
            </a>
            <a th:href="@{/assemblea/{id}/termina(id=${assemblea.getId()})}">
                <button class="btn btn-error btn-sm" th:if="${canStop}" onclick="return window.confirm('Questa operazione non può essere annullata, confermi?')">Termina assemblea</button>
            </a>
        </div>
    </div>
</th:block>
</html>