<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{fragments/base.html}">
<p th:include="fragments/base.html :: page">
<div layout:fragment="content">
    <div class="grid grid-flow-column gap-4 grid-cols-1 lg:grid-cols-2">
        <h2 class="text-xl" th:text="${assemblea.getNome()}"></h2>
        <th:block th:insert="assemblee/partials/header.html :: header" />
    </div>
    <div th:if="${!isDelegato}">
        <p>Hai accesso come <strong>osservatore</strong>.</p>
    </div>
    <div th:if="${isDelegato}">
        <p>Hai accesso come <strong>delegato</strong>.</p>
        <p th:if="${ownsDelega}">Hai una delega.</p>
    </div>
    <a th:href="@{/assemblea/{id}/inizia(id=${assemblea.getId()})}">
        <button class="btn btn-success"
                th:if="${isProprietario && !assemblea.isInCorso() && assemblea.getFine() == null}">Inizia assemblea
        </button>
    </a>
    <div th:if="${(assemblea.getCovepo() == null || assemblea.getCovepo().length == 0) && isProprietario}"
         class="flex mt-2 items-center justify-between">
        <p>Non è ancora stata nominata la commissione verifica poteri</p>
        <a th:href="@{/assemblea/{id}/nomina-covepo(id=${assemblea.getId()})}" class="ml-1">
            <button class="btn btn-primary btn-sm">Nomina CoVePo</button>
        </a>
    </div>
    <div th:if="${assemblea.getIdPresidente() == null && isProprietario}"
         class="flex mt-2 items-center justify-between">
        <p>Non è ancora stato nominato il presidente dell'assemblea</p>
        <a th:href="@{/assemblea/{id}/nomina-presidente(id=${assemblea.getId()})}" class="ml-1">
            <button class="btn btn-primary btn-sm">Nomina presidente</button>
        </a>
    </div>
    <th:block th:insert="assemblee/partials/votazioni.html :: votazioni" />
    <th:block th:insert="assemblee/partials/mozioni.html :: mozioni" />
    <p th:utext="${assemblea.getDescrizione()}"></p>
    <th:block th:insert="assemblee/partials/odg.html :: odg" />
    <th:block th:if="${assemblea.isInCorso()}">
        <div class="flex mt-2 items-center justify-between w-full my-4">
            <p>Sono presenti <strong th:text="${presentiTotali.getKey() + presentiTotali.getValue()}"></strong> aventi diritto su <span
                    th:text="${assemblea.getPartecipanti().length}"></span></p>
            <p><strong th:text="${presentiTotali.getKey()}"></strong> in proprio - <strong th:text="${presentiTotali.getValue()}"></strong> per delega</p>
            <a th:if="${presenti.size() > 0}" th:href="@{/assemblea/{id}/presenti(id=${assemblea.getId()})}"
               class="ml-1">
                <button class="btn btn-sm">Vedi presenti</button>
            </a>
        </div>
    </th:block>
    <p th:if="${assemblea.totaleDelegati != null}">
        <p>Il numero massimo di aventi diritto per questa assemblea &egrave; <strong th:text="${assemblea.totaleDelegati}"></strong></p>
        <p th:if="${(presentiTotali.getKey() + presentiTotali.getValue()) > (assemblea.totaleDelegati / 2)}">Il quorum costitutivo &egrave; raggiunto.</p>
    <th:block th:insert="assemblee/partials/odgActions.html :: odgActions" />
    <th:block th:insert="assemblee/partials/votazioni.html :: votazioniTerminate" />
</div>
</html>
